<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
	<title layout:title-pattern="$CONTENT_TITLE :: $DECORATOR_TITLE">Site	Tilte</title>
	<link href="../css/common-style.css" rel="stylesheet" th:href="@{/css/common-style.css}" />

    <!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}" />
    <!-- MetisMenu CSS -->
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet" th:href="@{/bower_components/metisMenu/dist/metisMenu.min.css}" />

    <!-- Timeline CSS -->
    <link href="../dist/css/timeline.css" rel="stylesheet" th:href="@{/dist/css/timeline.css}" />

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet" th:href="@{/dist/css/sb-admin-2.css}" />

    <!-- Morris Charts CSS -->
    <link href="../bower_components/morrisjs/morris.css" rel="stylesheet" th:href="@{/bower_components/morrisjs/morris.css}" />

    <!-- Custom Fonts -->
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" th:href="@{/bower_components/font-awesome/css/font-awesome.min.css}" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!-- jQuery -->
    <script src="../bower_components/jquery/dist/jquery.min.js" th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js" th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../bower_components/metisMenu/dist/metisMenu.min.js" th:src="@{/bower_components/metisMenu/dist/metisMenu.min.js}"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../bower_components/raphael/raphael-min.js" th:src="@{/bower_components/raphael/raphael-min.js}"></script>
    <script src="../bower_components/morrisjs/morris.min.js" th:src="@{/bower_components/morrisjs/morris.min.js}"></script>
    <script src="../js/morris-data.js" th:src="@{/js/morris-data.js}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js" th:src="@{/dist/js/sb-admin-2.js}"></script>




<script layout:fragment="custom-script">
	console.log('script for page');
</script>
</head>
<body>
test

http://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html
  <div th:insert="layout/fragments/footer :: copy"></div>

  <div th:replace="layout/fragments/footer :: copy"></div>

  <div th:include="layout/fragments/footer :: copy"></div>
th:insert is the simplest: it will simply insert the specified fragment as the body of its host tag.

th:replace actually replaces its host tag with the specified fragment.

th:include is similar to th:insert, but instead of inserting the fragment it only inserts the contents of this fragment.
  <div><footer>
				copy
			</footer></div>

  <footer>
				copy
			</footer>

  <div>
				copy
			</div>
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div th:replace="~{layout/fragments/navbar-header}" class="navbar-header">
                navbar-header
            </div>
            <!-- /.navbar-header -->

            <ul th:replace="~{layout/fragments/navbar-right}" class="nav navbar-top-links navbar-right">
               navbar-right
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div th:replace="~{layout/fragments/sidebar}" class="navbar-default sidebar" role="navigation">
                sidebar 
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper" layout:fragment="content">
			
			
			
      
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->



</body>
</html>