<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	layout:decorator="layout/common-layout"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <title>real Grid sample</title>
 

    <script type="text/javascript" src="./scripts/realgridjs-lic.js" th:src="@{/js/real-grid/realgridjs-lic.js}"></script>
    <script type="text/javascript" src="./scripts/realgridjs_eval.1.1.18.min.js" th:src="@{/js/real-grid/realgridjs_eval.1.1.18.min.js}"></script>
    <script type="text/javascript" src="./scripts/realgridjs-api.1.1.18.js" th:src="@{/js/real-grid/realgridjs-api.1.1.18.js}"></script>
    <script type="text/javascript" src="./scripts/jszip.min.js" th:src="@{/js/real-grid/jszip.min.js}"></script>

    <script type="text/javascript">
        var gridView;
        var dataProvider;

        var realgrids = ['realgrid1','realgrid2','realgrid3','realgrid4'];
        var gridViews = ['gridView1','gridView2','gridView3'];
        var dataProviders = ['dataProvider1','dataProvider2','dataProvider3'];

        
        
        
        for(var i=0; i<realgrids.length; i++) {

            var gridNo = i+1;
            window['gridView'+gridNo] ;
            window['dataProvider'+gridNo]={} ;
        }


        $(document).ready(function () {

            //
            setEvent();
            $( "#tabs" ).tabs();
            //
// 			$('#myTabs a').click(function (e) {
// 			  e.preventDefault()
// 			  $(this).tab('show')
// 			});


            RealGridJS.setTrace(false);
            RealGridJS.setRootContext("/js/real-grid");
            buildGrid(realgrids);
        });
        function buildGrid(gridId){


            for(var i=0; i<realgrids.length; i++) {

                var gridNo = i+1;
                var globalVariable = realgrids[i];
//                window['p'+i] = "hello " + i;
//                window['gridView'+gridNo] ;
//                window['dataProvider'+gridNo]={} ;

                var gridHtml = '<div id="'+realgrids[i]+'" style="width: 100%; height: 200px;"></div>'
                $('#'+realgrids[i]).replaceWith(gridHtml);

                window['dataProvider'+gridNo] = new RealGridJS.LocalDataProvider();
                window['gridView'+gridNo] = new RealGridJS.GridView(realgrids[i]);
                window['gridView'+gridNo].setDataSource(window['dataProvider'+gridNo]);

                //
                setFields(window['dataProvider'+gridNo] );
                //
                setColumns(window['gridView'+gridNo] );
                //
                setRows(window['dataProvider'+gridNo] );

            }



        }

        function toggleFocus() {
            var focusCell = gridView.getCurrent();
            focusCell.dataRow = 0;
            if (focusCell.fieldName == "field1") {
                focusCell.column = "col2";
                focusCell.fieldName = "field2";
            }
            else {
                focusCell.column = "col1";
                focusCell.fieldName = "field1";
            }

            gridView.setCurrent(focusCell);
        }
        function setRows(dataProvider) {


            var data = [
                ["송윤아", "10", "33"],
                ["전도연", "20", "22"],
                ["하지원", "10", "11"],
                ["전지현", "20", "44"]
            ];
            dataProvider.setRows(data);
        }
        function setColumns(gridView) {

            var columns = [
                {
                    name: "col1",
                    fieldName: "field1",
                    header : {
                        text: "이름"
                    },
                    width: 150
                },
                {
                    name: "col2",
                    fieldName: "field2",
                    header : {
                        text: "국어"
                    },
                    width: 150
                },
                {
                    name: "col3",
                    fieldName: "field3",
                    header : {
                        text: "수학"
                    },
                    width: 150
                }
            ];

            gridView.setColumns(columns);

            //

//            var header = gridView.getColumnProperty("col1", "header");
//            header.text = "컬럼2";
//
//            gridView.setColumnProperty("col1", "header", header);


        }
        function setFields(dataProvider) {

            var fields = [
                {
                    fieldName: "field1"
                },
                {
                    fieldName: "field2"
                },
                {
                    fieldName: "field3"
                }
            ];

            dataProvider.setFields(fields);
        }
        function setEvent() {
            //버튼을 클릭하면 포커스된 셀을 다른 셀로 변경합니다.
            $("#btnToggleFocus").on("click", function () {
                toggleFocus();
            });

            //버튼을 클릭하면 포커스된 셀의 RowId를 표시합니다.
            $("#btnPopupRowId").on("click", function () {
                popupRowId();
            });

            $("#btnPopupRowId2").on("click", function () {
                popupRowId();
            });

            //버튼을 클릭하면 포커스행을 두번째 행으로 선택합니다.
            $("#btnSetCurrent2Row").on("click", function(){
                setCurrent2Row();
            })

            //버튼을 클릭하면 ItemIndex와 RowId를 표시 합니다.
            $("#btnPopupIndex1").on("click", function(){
                popupIndex();
            })
            //버튼을 클릭하면 정렬순서를 바꿉니다.
            $("#btnChangeOrder").on("click", function(){
                changeOrder();
            })

            //버튼을 클릭하면 ItemIndex와 RowId를 표시 합니다.
            $("#btnPopupIndex2").on("click", function(){
                popupIndex();
            })


            // SortStyle을 NONE으로 설정
            $("#btnChangeSortStyleNone").on("click", function(){
                setSortStyles(RealGridJS.SortStyle.NONE);
            })

            // SortStyle을 EXCLUSIVE로 설정
            $("#btnChangeSortStyleExclusive").on("click", function(){
                setSortStyles(RealGridJS.SortStyle.EXCLUSIVE);
            })

            // SortStyle을 INCLUSIVE으로 설정
            $("#btnChangeSortStyleInclusive").on("click", function(){
                setSortStyles(RealGridJS.SortStyle.INCLUSIVE);
            })

            // SortStyle을 REVERSE로 설정
            $("#btnChangeSortStyleReverse").on("click", function(){
                setSortStyles(RealGridJS.SortStyle.REVERS);
            })


            // 정렬초기화
            $("#btnResetOrder").on("click", function(){
                gridView.orderBy([], []);
            })

            // 국어, 수학 컬럼을 순방향 정렬하기위해 orderBy() 함수 사용
            $("#btnChangeOrders").on("click", function(){
                gridView.orderBy(["field2", "field3"], ["ascending", "ascending"]);
            })
            $("#btn_search").on("click", function(){
            	var arr_form = $("#search").serializeArray();
            	console.log('arr_form',arr_form);
            	
            	var param =  JSON.stringify(arr_form);
            	console.log('param',param);
            	
            	
            	
    			var o = {};
    			$.each(arr_form,function(){
//     				o[this.name] = this.value ||'';
			        if (o[this.name] || o[this.name] == '') {
			            if (!o[this.name].push) {
			                o[this.name] = [o[this.name]];
			            }
			            o[this.name].push(this.value || '');
			        } else {
			            o[this.name] = this.value || '';
			        }
    			})
    			console.log('o',o);
    			console.log('o',JSON.stringify(o));
    			 

    			var o2 = {};
    			$("#search").each(function(i){
    				
    				var name = $(this).attr('name');
    				
    				console.log('name',name);
    				

    	            switch($(this).attr("type")){
		                case "select":
		                    o2[name] = $(this).val();
		                    break;
		                case "textarea":
		                    o2[name] = $(this).val();
		                    break;
		                case "text":
		                    o2[name] = $(this).val();
		                    break;
    	                case "checkbox":
    	                    if($(this).attr("checked")){
    	                        o2[name] = $(this).val();
    	                    }
    	                    break;
    	                case "radio":
    	                    if($(this).attr("checked")){
    	                        o2[name] = $(this).val();
    	                    }
    	                    break;
    	                default:
    	                    break;
    	            }
    	             
    			})

    			console.log('o2',o2);
    			console.log('o2',JSON.stringify(o2));
    			 
            })
            
            
            
            
            
        }

        function popupRowId() {
            var focusCell = gridView.getCurrent();
            alert(focusCell.dataRow);
            alert(focusCell.itemIndex);
        }

        //동적으로 두 번째 행을 선택하는 함수
        function setCurrent2Row(){
            var current = {};
            current.dataRow = 1;
            gridView.setCurrent(current);
        }

        //ItemIndex와 RowId를 팝업하는 함수
        function popupIndex(){
            var focusCell = gridView.getCurrent();
            alert("ItemIndex:" + focusCell.itemIndex + ", RowId:" + focusCell.dataRow);
        }

        //두 번째 필드의 데이터를 기준으로 역순으로 정렬
        function changeOrder(){
            var fields = ["field2"];
            var dirs = [RealGridJS.SortDirection.DESCENDING];
            gridView.orderBy(fields, dirs);
        }

        function setSortStyles(style) {
            var options = {};
            options.style = style;
            gridView.setSortingOptions(options);

            resetOrders();
        }

        function resetOrders() {
            gridView.orderBy([], []);
        }
    </script>
</head>
<body>
	<div id="page-wrapper" layout:fragment="content">
		
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Nunc tincidunt</a></li>
    <li><a href="#tabs-2">Proin dolor</a></li>
    <li><a href="#tabs-3">Aenean lacinia</a></li>
  </ul>
  <div id="tabs-1">
		<div id="realgrid3" style="width: 100%; height: 1200px;"></div> 
  </div>
  
  <div id="tabs-2">
    
			<div id="realgrid4" style="width: 100%; height: 1200px;"></div> 
	 </div>
  <div id="tabs-3">
    <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
    <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
  </div>
</div>
		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
		    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
		    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
		    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
		    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
		  </ul>
		
		  <!-- Tab panes -->
		  <div class="tab-content">
		    <div role="tabpanel" class="tab-pane active" id="home">
		    ...home
<div id="realgrid1" style="width: 100%; height: 1200px;"></div>
		    </div>
		    <div role="tabpanel" class="tab-pane" id="profile">
		    ...profile
<div id="realgrid2" style="width: 100%; height: 1200px;"></div>
		    </div>
		    <div role="tabpanel" class="tab-pane" id="messages">
		    ...messages
<div id="realgrid3" style="width: 100%; height: 1200px;"></div> 
		    </div>
		    <div role="tabpanel" class="tab-pane" id="settings">
		    ...settings
<div id="realgrid4" style="width: 100%; height: 1200px;"></div> 
		    </div>
		  </div>
		 


		    <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Form</h1>
                    
                    
                    
<!--                     http://getbootstrap.com/css/#forms -->
                    <form id="search">
	                    <select class="form-control" name="select">
						  <option>1</option>
						  <option>2</option>
						  <option selected="selected">3</option>
						  <option>4</option>
						  <option>5</option>
						</select>
					  <div class="form-group">
					    <label for="exampleInputName2">Name</label>
						<input class="form-control" type="text" id="exampleInputName2" placeholder="Readonly input here…" readonly>
					  </div>
					  
						
					  <div class="form-group">
					    <label for="exampleInputName2">Name</label>
					    <input type="text" name="name" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
					  </div>
					  
					  
					  <div class="form-group">
					    <label for="exampleInputName2">Name</label>
					    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe" disabled>
					  </div>
					  
					  <div class="form-group">
					    <label for="exampleInputEmail1">Email address</label>
					    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
					  </div>
					  <div class="form-group">
					    <label for="exampleInputPassword1">Password</label>
					    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
					  </div>
					  <textarea class="form-control" rows="3" name="textarea"></textarea>
				  	<div class="checkbox">
						<label class="checkbox-inline">
						  <input type="checkbox" name="checkbox" id="inlineCheckbox1" value="option1"> 1
						</label>
						<label class="checkbox-inline">
						  <input type="checkbox" name="checkbox" id="inlineCheckbox2" value="option2"> 2
						</label>
						<label class="checkbox-inline">
						  <input type="checkbox" name="checkbox" id="inlineCheckbox3" value="option3"> 3
						</label>
				  	</div>
				  	<div class="radio">
						<label class="radio-inline">
						  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
						</label>
						<label class="radio-inline">
						  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
						</label>
						<label class="radio-inline">
						  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3
						</label>
				  	</div>
					  <div class="checkbox">
					    <label>
					      <input type="checkbox"> Check me out
					    </label>
					  </div>
					  <div class="checkbox">
					  <label>
					    <input type="checkbox" value="">
					    Option one is this and that&mdash;be sure to include why it's great
					  </label>
					</div>
					<div class="checkbox disabled">
					  <label>
					    <input type="checkbox" value="" disabled>
					    Option two is disabled
					  </label>
					</div>
					
					<div class="radio">
					  <label>
					    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
					    Option one is this and that&mdash;be sure to include why it's great
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
					    Option two can be something else and selecting it will deselect option one
					  </label>
					</div>
					<div class="radio disabled">
					  <label>
					    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
					    Option three is disabled
					  </label>
					</div>
				
					
					
					
					  <button type="submit" class="btn btn-default">Submit</button>
						<button type="button" class="btn btn-default" id="btn_search">search</button>
					</form>
                    
                    <hr />
<form>
  <fieldset disabled>
					  <div class="form-group">
					    <label for="exampleInputFile">File input</label>
					    <input type="file" id="exampleInputFile">
					    <p class="help-block">Example block-level help text here.</p>
					  </div>
    <div class="form-group">
      <label for="disabledTextInput">Disabled input</label>
      <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
    </div>
    <div class="form-group">
      <label for="disabledSelect">Disabled select menu</label>
      <select id="disabledSelect" class="form-control">
        <option>Disabled select</option>
      </select>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> Can't check this
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
  
  
  <div>
  
	  <a class="btn btn-default" href="#" role="button">Link</a>
	<button class="btn btn-default" type="submit">Button</button>
	<input class="btn btn-default" type="button" value="Input">
	<input class="btn btn-default" type="submit" value="Submit">
  </div>
  
  <div>
	  <!-- Standard button -->
	<button type="button" class="btn btn-default">Default</button>
	
	<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
	<button type="button" class="btn btn-primary">Primary</button>
	
	<!-- Indicates a successful or positive action -->
	<button type="button" class="btn btn-success">Success</button>
	
	<!-- Contextual button for informational alert messages -->
	<button type="button" class="btn btn-info">Info</button>
	
	<!-- Indicates caution should be taken with this action -->
	<button type="button" class="btn btn-warning">Warning</button>
	
	<!-- Indicates a dangerous or potentially negative action -->
	<button type="button" class="btn btn-danger">Danger</button>
	
	<!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
	<button type="button" class="btn btn-link">Link</button>
	
	
	<button type="button" class="btn btn-lg btn-primary" disabled="disabled">Primary button</button>
<button type="button" class="btn btn-default btn-lg" disabled="disabled">Button</button>

<a href="#" class="btn btn-primary btn-lg disabled" role="button">Primary link</a>
<a href="#" class="btn btn-default btn-lg disabled" role="button">Link</a>
<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>
</form>
                    <hr />
<div class="row">
  <div class="col-xs-2">
    <input type="text" class="form-control" placeholder=".col-xs-2">
  </div>
  <div class="col-xs-3">
    <input type="text" class="form-control" placeholder=".col-xs-3">
  </div>
  <div class="col-xs-4">
    <input type="text" class="form-control" placeholder=".col-xs-4">
  </div>
</div>                    
                    <hr />
                    <hr />
                    <hr />
                    <hr />
                    <form class="form-horizontal">
					  <div class="form-group">
					    <label class="col-sm-2 control-label">Email</label>
					    <div class="col-sm-10">
					      <p class="form-control-static">email@example.com</p>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputPassword" class="col-sm-2 control-label">Password</label>
					    <div class="col-sm-10">
					      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
					    </div>
					  </div>
					</form>
                    <hr />
                    
                    <form class="form-inline">
					  <div class="form-group">
					    <label for="exampleInputName2">Name</label>
					    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
					  </div>
					  <div class="form-group">
					    <label for="exampleInputEmail2">Email</label>
					    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
					  </div>
					  <div class="form-group">
					    <label class="sr-only" for="exampleInputEmail3">Email address</label>
					    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
					  </div>
					  <div class="form-group">
					    <label class="sr-only" for="exampleInputPassword3">Password</label>
					    <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
					  </div>
					  <div class="checkbox">
					    <label>
					      <input type="checkbox"> Remember me
					    </label>
					  </div>
					  <button type="submit" class="btn btn-default">Send invitation</button>
					</form>
					
                    <form class="form-inline">
					  <div class="form-group">
					    <label class="sr-only" for="exampleInputEmail3">Email address</label>
					    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
					  </div>
					  <div class="form-group">
					    <label class="sr-only" for="exampleInputPassword3">Password</label>
					    <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
					  </div>
					  <div class="checkbox">
					    <label>
					      <input type="checkbox"> Remember me
					    </label>
					  </div>
					  <button type="submit" class="btn btn-default">Sign in</button>
					</form>
                    <form class="form-inline">
					  <div class="form-group">
					    <label class="sr-only">Email</label>
					    <p class="form-control-static">email@example.com</p>
					  </div>
					  <div class="form-group">
					    <label for="inputPassword2" class="sr-only">Password</label>
					    <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
					  </div>
					  <button type="submit" class="btn btn-default">Confirm identity</button>
					</form>
                </div>
                <!-- /.col-lg-12 -->
            </div>
		
		    <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">26</div>
                                    <div>New Comments!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">12</div>
                                    <div>New Tasks!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">124</div>
                                    <div>New Orders!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-support fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">13</div>
                                    <div>Support Tickets!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="morris-area-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Bar Chart Example
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Date</th>
                                                    <th>Time</th>
                                                    <th>Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>3326</td>
                                                    <td>10/21/2013</td>
                                                    <td>3:29 PM</td>
                                                    <td>$321.33</td>
                                                </tr>
                                                <tr>
                                                    <td>3325</td>
                                                    <td>10/21/2013</td>
                                                    <td>3:20 PM</td>
                                                    <td>$234.34</td>
                                                </tr>
                                                <tr>
                                                    <td>3324</td>
                                                    <td>10/21/2013</td>
                                                    <td>3:03 PM</td>
                                                    <td>$724.17</td>
                                                </tr>
                                                <tr>
                                                    <td>3323</td>
                                                    <td>10/21/2013</td>
                                                    <td>3:00 PM</td>
                                                    <td>$23.71</td>
                                                </tr>
                                                <tr>
                                                    <td>3322</td>
                                                    <td>10/21/2013</td>
                                                    <td>2:49 PM</td>
                                                    <td>$8345.23</td>
                                                </tr>
                                                <tr>
                                                    <td>3321</td>
                                                    <td>10/21/2013</td>
                                                    <td>2:23 PM</td>
                                                    <td>$245.12</td>
                                                </tr>
                                                <tr>
                                                    <td>3320</td>
                                                    <td>10/21/2013</td>
                                                    <td>2:15 PM</td>
                                                    <td>$5663.54</td>
                                                </tr>
                                                <tr>
                                                    <td>3319</td>
                                                    <td>10/21/2013</td>
                                                    <td>2:13 PM</td>
                                                    <td>$943.45</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.col-lg-4 (nested) -->
                                <div class="col-lg-8">
                                    <div id="morris-bar-chart"></div>
                                </div>
                                <!-- /.col-lg-8 (nested) -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="timeline">
                                <li>
                                    <div class="timeline-badge"><i class="fa fa-check"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                            <p><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago via Twitter</small>
                                            </p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero laboriosam dolor perspiciatis omnis exercitationem. Beatae, officia pariatur? Est cum veniam excepturi. Maiores praesentium, porro voluptas suscipit facere rem dicta, debitis.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolorem quibusdam, tenetur commodi provident cumque magni voluptatem libero, quis rerum. Fugiat esse debitis optio, tempore. Animi officiis alias, officia repellendus.</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium maiores odit qui est tempora eos, nostrum provident explicabo dignissimos debitis vel! Adipisci eius voluptates, ad aut recusandae minus eaque facere.</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus numquam facilis enim eaque, tenetur nam id qui vel velit similique nihil iure molestias aliquam, voluptatem totam quaerat, magni commodi quisquam.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates est quaerat asperiores sapiente, eligendi, nihil. Itaque quos, alias sapiente rerum quas odit! Aperiam officiis quidem delectus libero, omnis ut debitis!</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-badge info"><i class="fa fa-save"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis minus modi quam ipsum alias at est molestiae excepturi delectus nesciunt, quibusdam debitis amet, beatae consequuntur impedit nulla qui! Laborum, atque.</p>
                                            <hr>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                                    <i class="fa fa-gear"></i>  <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="#">Action</a>
                                                    </li>
                                                    <li><a href="#">Another action</a>
                                                    </li>
                                                    <li><a href="#">Something else here</a>
                                                    </li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">Separated link</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi fuga odio quibusdam. Iure expedita, incidunt unde quis nam! Quod, quisquam. Officia quam qui adipisci quas consequuntur nostrum sequi. Consequuntur, commodi.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-badge success"><i class="fa fa-graduation-cap"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt obcaecati, quaerat tempore officia voluptas debitis consectetur culpa amet, accusamus dolorum fugiat, animi dicta aperiam, enim incidunt quisquam maxime neque eaque.</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Notifications Panel
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small"><em>4 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small"><em>12 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small"><em>27 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small"><em>43 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small"><em>11:32 AM</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-bolt fa-fw"></i> Server Crashed!
                                    <span class="pull-right text-muted small"><em>11:13 AM</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-warning fa-fw"></i> Server Not Responding
                                    <span class="pull-right text-muted small"><em>10:57 AM</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-shopping-cart fa-fw"></i> New Order Placed
                                    <span class="pull-right text-muted small"><em>9:49 AM</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-money fa-fw"></i> Payment Received
                                    <span class="pull-right text-muted small"><em>Yesterday</em>
                                    </span>
                                </a>
                            </div>
                            <!-- /.list-group -->
                            <a href="#" class="btn btn-default btn-block">View All Alerts</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Donut Chart Example
                        </div>
                        <div class="panel-body">
                            <div id="morris-donut-chart"></div>
                            <a href="#" class="btn btn-default btn-block">View Details</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="chat-panel panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-comments fa-fw"></i>
                            Chat
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-chevron-down"></i>
                                </button>
                                <ul class="dropdown-menu slidedown">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-refresh fa-fw"></i> Refresh
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-check-circle fa-fw"></i> Available
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-times fa-fw"></i> Busy
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-clock-o fa-fw"></i> Away
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-sign-out fa-fw"></i> Sign Out
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="chat">
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Jack Sparrow</strong>
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
                                            </small>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 13 mins ago</small>
                                            <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Jack Sparrow</strong>
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 14 mins ago</small>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 15 mins ago</small>
                                            <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                        <div class="panel-footer">
                            <div class="input-group">
                                <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                                <span class="input-group-btn">
                                    <button class="btn btn-warning btn-sm" id="btn-chat">
                                        Send
                                    </button>
                                </span>
                            </div>
                        </div>
                        <!-- /.panel-footer -->
                    </div>
                    <!-- /.panel .chat-panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->		
		
	</div>




</body>
</html>